.container{


    background-color: rgb(97, 96, 90);
    display: flex;
    /* flex-direction:column; */
  justify-content:center;
  align-items: center;
/* 
 height: 500px;
    width: 500px; */
  /* flex-wrap: nowrap; */
  gap: 50px;

  width: 500;
  height: 500px;


   
}


.item{
    height: 100px;
    width: 100px;
    background-color: cornflowerblue;
   
   
}


.BOX1{

    background-color: chartreuse;
     /* flex-grow: 1; */
     /* flex-shrink: 1; */
      /* flex-basis: 200px; */
}

.BOX2{

    background-color: rgb(187, 116, 220);
}

.BOX3{

    background-color: rgb(129, 111, 226);
     /* flex-grow: 3; */
     align-self:center;
}


.BOX4{

     /* flex-basis: 400px; */
    background-color: rgb(233, 168, 82);
}